gerador-politica-frota/n8n-workflow-upload.json
{
  "name": "Gerador Politica Frota - Upload Drive",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "politica-frota-upload",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook",
      "webhookId": "politica-frota-upload"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nconst buf = Buffer.from(body.docxBase64, 'base64');\nconst empresa = body.empresa || 'Empresa';\nconst nomePolitica = body.nomePolitica || 'Politica';\n\nreturn [{\n  json: { empresa, nomePolitica },\n  binary: {\n    data: await this.helpers.prepareBinaryData(\n      buf,\n      `Politica-de-Frota-${empresa}.docx`,\n      'application/vnd.openxmlformats-officedocument.wordprocessingml.document'\n    )\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [240, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Decodifica DOCX"
    },
    {
      "parameters": {
        "operation": "upload",
        "name": "=Politica de Frota - {{ $json.empresa }} - {{ $json.nomePolitica }}",
        "inputDataFieldName": "data",
        "options": {
          "convertToGoogleDocument": true
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [480, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Upload Google Drive",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AESlv06fSybPoLcW",
          "name": "Google Drive Marco CTO"
        }
      }
    },
    {
      "parameters": {
        "operation": "share",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "permissionsUi": {
          "permissionsValues": {
            "role": "writer",
            "type": "anyone"
          }
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [720, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Compartilha Doc",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "AESlv06fSybPoLcW",
          "name": "Google Drive Marco CTO"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"docUrl\": \"https://docs.google.com/document/d/{{ $('Upload Google Drive').item.json.id }}/edit\" }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [960, 0],
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Retorna URL do Doc"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Decodifica DOCX", "type": "main", "index": 0 }]]
    },
    "Decodifica DOCX": {
      "main": [[{ "node": "Upload Google Drive", "type": "main", "index": 0 }]]
    },
    "Upload Google Drive": {
      "main": [[{ "node": "Compartilha Doc", "type": "main", "index": 0 }]]
    },
    "Compartilha Doc": {
      "main": [[{ "node": "Retorna URL do Doc", "type": "main", "index": 0 }]]
    }
  }
}
