conteleteams.com.br/workflow-update-v3.json
{"name": "[Teams] [Lead] Demonstração Landing Page v2", "settings": {"executionOrder": "v1", "callerPolicy": "workflowsFromSameOwner", "executionTimeout": 180, "errorWorkflow": "lkNyvM2OzVKdkkbX", "timezone": "America/Sao_Paulo"}, "nodes": [{"parameters": {"httpMethod": "POST", "path": "gera-leads-teams-lp", "options": {}}, "type": "n8n-nodes-base.webhook", "typeVersion": 2, "position": [0, 208], "id": "53340f37-c1c7-42e9-a48c-4216a482164e", "name": "Webhook", "webhookId": "95e5c8be-d5e1-484f-a147-b967c8dae8e3"}, {"parameters": {"mode": "runOnceForEachItem", "jsCode": "const body = $json.body || {};\nif (body.usuario_id && body.usuario_nome) {\n  return { json: { body: body } };\n}\nconst tamanho = parseInt(body.tamanho_equipe, 10) || 0;\nconst ID_DANIEL = 13133598;\nconst ID_SHEILA = 6186902;\nlet usuario_id, usuario_nome;\nif (tamanho >= 21) {\n  usuario_id = ID_SHEILA;\n  usuario_nome = 'Sheila';\n} else if (tamanho >= 10) {\n  if (Math.floor(Date.now() / 1000) % 2 === 0) {\n    usuario_id = ID_SHEILA;\n    usuario_nome = 'Sheila';\n  } else {\n    usuario_id = ID_DANIEL;\n    usuario_nome = 'Daniel';\n  }\n} else {\n  usuario_id = ID_DANIEL;\n  usuario_nome = 'Daniel';\n}\nconst utmParts = [];\nif (body.utm_source) utmParts.push('utm_source=' + body.utm_source);\nif (body.utm_medium) utmParts.push('utm_medium=' + body.utm_medium);\nif (body.campanha) utmParts.push('utm_campaign=' + body.campanha);\nif (body.utm_term) utmParts.push('utm_term=' + body.utm_term);\nif (body.utm_content) utmParts.push('utm_content=' + body.utm_content);\nreturn {\n  json: {\n    body: {\n      ...body,\n      usuario_id,\n      usuario_nome,\n      tamanho_equipe: tamanho,\n      utm_string: utmParts.join('&')\n    }\n  }\n};"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [200, 208], "id": "aaa00001-0000-0000-0000-000000000001", "name": "Assign Vendor"}, {"parameters": {"resource": "person", "name": "={{ $json.body.nome }}", "additionalFields": {"email": ["={{ $json.body.email }}"], "phone": ["={{ $json.body.telefone }}"]}}, "type": "n8n-nodes-base.pipedrive", "typeVersion": 1, "position": [400, 208], "id": "4c360e87-ebdc-47d9-8acc-29e19f5049b5", "name": "Person", "credentials": {"pipedriveApi": {"id": "sE0XVGLkt1EocCnU", "name": "Pipedrive account"}}}, {"parameters": {"title": "={{ $('Assign Vendor').item.json.body.empresa }}", "associateWith": "person", "person_id": "={{ $json.id }}", "additionalFields": {"currency": "BRL", "customProperties": {"property": [{"name": "d32b1afb76380fd11b2979947d42701ca0ab1884", "value": "={{ $('Assign Vendor').item.json.body.info }}"}, {"name": "f0fbb1341f09d81ca594898bab753004fb28b6ec", "value": "={{ $('Assign Vendor').item.json.body.utm_string }}"}, {"name": "3c8d91b14db8b39066af6d9ccac83bba77382582", "value": "={{ $('Assign Vendor').item.json.body.tamanho_equipe }}"}, {"name": "ded37a6dfbe7c85aacde82a228ac17011b97cca0", "value": "={{ $('Assign Vendor').item.json.body.landing_page }}"}, {"name": "51bccf176e39e275ee09ace59bc724e0eb0157ab", "value": "={{ $('Assign Vendor').item.json.body.gclid }}"}, {"name": "e98e94a65dcb60d96401853899c2126819991a43", "value": "={{ $('Assign Vendor').item.json.body.ga4_client_id }}"}]}, "stage_id": 94, "status": "open", "user_id": "={{ $('Assign Vendor').item.json.body.usuario_id }}", "value": "={{ $('Assign Vendor').item.json.body.tamanho_equipe }}", "visible_to": "3"}}, "type": "n8n-nodes-base.pipedrive", "typeVersion": 1, "position": [600, 208], "id": "a7a9c75c-6c0c-468d-a6b7-59c4190bd1ff", "name": "Deal", "credentials": {"pipedriveApi": {"id": "sE0XVGLkt1EocCnU", "name": "Pipedrive account"}}}, {"parameters": {"authentication": "oAuth2", "select": "channel", "channelId": {"__rl": true, "value": "C0NTGJE8M", "mode": "list", "cachedResultName": "ge-notificacoes"}, "text": "=🚀 Novo lead!\n\n*Empresa:* {{ $('Assign Vendor').item.json.body.empresa }}\n*Usuários:* {{ $('Assign Vendor').item.json.body.tamanho_equipe }}\n\n• *Email:* {{ $('Assign Vendor').item.json.body.email }}\n• *Responsável:* {{ $('Assign Vendor').item.json.body.nome }}\n• *Telefone:* {{ $('Assign Vendor').item.json.body.telefone }}\n• *Campanha:* {{ $('Assign Vendor').item.json.body.campanha }}\n• *GCLID:* {{ $('Assign Vendor').item.json.body.gclid || 'N/A' }}\n• *Vendedor:* {{ $('Assign Vendor').item.json.body.usuario_nome }}\n• *Pipedrive:* https://contelegv.pipedrive.com/deal/{{ $('Deal').item.json.id }}", "otherOptions": {}}, "type": "n8n-nodes-base.slack", "typeVersion": 2.3, "position": [800, 208], "id": "d6966e03-867c-4e76-8bbf-65d264837466", "name": "Slack", "webhookId": "31e4a49b-4445-4082-9886-3c9ba168ab18", "credentials": {"slackOAuth2Api": {"id": "NdyVsE6C3Z0tUssN", "name": "Slack account - oauth"}}}, {"parameters": {"method": "POST", "url": "https://marcofassa.app.n8n.cloud/webhook/inicio-sdr-teams-v2", "sendBody": true, "bodyParameters": {"parameters": [{"name": "nome", "value": "={{ $('Assign Vendor').item.json.body.nome }}"}, {"name": "whatsapp", "value": "={{ $('Assign Vendor').item.json.body.telefone }}"}, {"name": "email", "value": "={{ $('Assign Vendor').item.json.body.email }}"}, {"name": "pipedrive_id", "value": "={{ $('Deal').item.json.id }}"}, {"name": "licencas", "value": "={{ $('Assign Vendor').item.json.body.tamanho_equipe }}"}, {"name": "empresa", "value": "={{ $('Assign Vendor').item.json.body.empresa }}"}, {"name": "idUsuarioPipedrive", "value": "={{ $('Assign Vendor').item.json.body.usuario_id }}"}, {"name": "vendedor", "value": "={{ $('Assign Vendor').item.json.body.usuario_nome }}"}, {"name": "info", "value": "={{ $('Assign Vendor').item.json.body.info }}"}]}, "options": {}}, "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1000, 0], "id": "340a76ab-0753-4883-86e4-56a6063c48e1", "name": "Send SDR"}, {"parameters": {"operation": "append", "documentId": {"__rl": true, "value": "1cM0RpSRWarWNqSYDfjqTkPnrWI1BSP8jicm77n3KiTY", "mode": "list", "cachedResultName": "[base leads GE Teams] Trial - Demo - Contele Teams"}, "sheetName": {"__rl": true, "value": 432897087, "mode": "list", "cachedResultName": "Registros de trials"}, "columns": {"mappingMode": "defineBelow", "value": {"Nome": "={{ $('Assign Vendor').item.json.body.nome }}", "Email": "={{ $('Assign Vendor').item.json.body.email }}", "Telefone": "={{ $('Assign Vendor').item.json.body.telefone }}", "Empresa": "={{ $('Assign Vendor').item.json.body.empresa }}", "Campanha": "={{ $('Assign Vendor').item.json.body.campanha }}", "Tamanho da Equipe": "={{ $('Assign Vendor').item.json.body.tamanho_equipe }}", "Landing Page": "={{ $('Assign Vendor').item.json.body.landing_page }}", "status": "1-success-deal-created-in-pipedrive", "Vendedor": "={{ $('Assign Vendor').item.json.body.usuario_nome }}", "GCLID": "={{ $('Assign Vendor').item.json.body.gclid }}", "GA4 Client ID": "={{ $('Assign Vendor').item.json.body.ga4_client_id }}", "utm_source": "={{ $('Assign Vendor').item.json.body.utm_source }}", "utm_medium": "={{ $('Assign Vendor').item.json.body.utm_medium }}", "utm_term": "={{ $('Assign Vendor').item.json.body.utm_term }}", "utm_content": "={{ $('Assign Vendor').item.json.body.utm_content }}", "ID Pipe": "={{ $('Deal').item.json.id }}", "Data": "={{ new Date().toLocaleString('pt-BR', { timeZone: 'America/Sao_Paulo' }) }}"}, "matchingColumns": [], "schema": [{"id": "Data", "displayName": "Data", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Nome", "displayName": "Nome", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Email", "displayName": "Email", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Telefone", "displayName": "Telefone", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Empresa", "displayName": "Empresa", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Campanha", "displayName": "Campanha", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Tamanho da Equipe", "displayName": "Tamanho da Equipe", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Landing Page", "displayName": "Landing Page", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "status", "displayName": "status", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "Vendedor", "displayName": "Vendedor", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "GCLID", "displayName": "GCLID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "GA4 Client ID", "displayName": "GA4 Client ID", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "utm_source", "displayName": "utm_source", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "utm_medium", "displayName": "utm_medium", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "utm_term", "displayName": "utm_term", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "utm_content", "displayName": "utm_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "ID Pipe", "displayName": "ID Pipe", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}, {"id": "utm_content", "displayName": "utm_content", "required": false, "defaultMatch": false, "display": true, "type": "string", "canBeUsedToMatch": true}], "attemptToConvertTypes": false, "convertFieldsToString": true}, "options": {}}, "type": "n8n-nodes-base.googleSheets", "typeVersion": 4.6, "position": [1200, 0], "id": "dfce2504-6260-466a-8fd5-4dddd57ebedc", "name": "Google Sheets", "credentials": {"googleSheetsOAuth2Api": {"id": "xNlFWnqfsFgoZvm7", "name": "Google Sheets Marco CTO"}}}, {"parameters": {"jsCode": "return items.map(item => {\n  const body = item.json.body || {};\n  const id = body.usuario_id;\n  let vendedorNome = '';\n  let vendedorPhone = '';\n  if (id === 6186902) {\n    vendedorNome = 'Sheila';\n    vendedorPhone = '5511973527309';\n  } else if (id === 13133598) {\n    vendedorNome = 'Daniel';\n    vendedorPhone = '5513997431489';\n  }\n  return { json: { usuario_id: id, nome_vendedor: vendedorNome, phone_vendedor: vendedorPhone } };\n});"}, "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [400, 448], "id": "5c950edf-91d2-4adb-8c19-b08d7f283b70", "name": "map phone vendedor"}, {"parameters": {"method": "POST", "url": "https://evolution-api-817d7afc.contele.io/message/sendText/Vendas%20n2", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "5B85E4759B2F-4FA5-9DA2-D74538F07251"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"number\": \"{{ $json.phone_vendedor }}\",\n  \"linkPreview\": false,\n  \"text\": \"🚀 Novo lead!\\n\\n🔹 Empresa: {{ $('Assign Vendor').item.json.body.empresa }}\\n🔹 Usuários: {{ $('Assign Vendor').item.json.body.tamanho_equipe }}\\n\\n• Responsável: {{ $('Assign Vendor').item.json.body.nome }}\\n• Telefone: {{ $('Assign Vendor').item.json.body.telefone }}\\n• Vendedor: {{ $('Assign Vendor').item.json.body.usuario_nome }}\\n• Pipedrive: https://contelegv.pipedrive.com/deal/{{ $('Deal').item.json.id }}\"\n}", "options": {}}, "id": "b8526f67-4de5-4d1c-bdf6-af4ef17ffcb8", "name": "WhatsApp vendedor", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [600, 448], "onError": "continueRegularOutput"}, {"parameters": {"method": "POST", "url": "https://evolution-api-817d7afc.contele.io/message/sendText/Vendas%20n2", "sendHeaders": true, "headerParameters": {"parameters": [{"name": "apikey", "value": "5B85E4759B2F-4FA5-9DA2-D74538F07251"}]}, "sendBody": true, "specifyBody": "json", "jsonBody": "={\n  \"number\": \"5511999796461\",\n  \"linkPreview\": false,\n  \"text\": \"🚀 Novo lead!\\n\\n🔹 Empresa: {{ $('Assign Vendor').item.json.body.empresa }}\\n🔹 Usuários: {{ $('Assign Vendor').item.json.body.tamanho_equipe }}\\n\\n• Responsável: {{ $('Assign Vendor').item.json.body.nome }}\\n• Telefone: {{ $('Assign Vendor').item.json.body.telefone }}\\n• Vendedor: {{ $('Assign Vendor').item.json.body.usuario_nome }}\\n• Pipedrive: https://contelegv.pipedrive.com/deal/{{ $('Deal').item.json.id }}\"\n}", "options": {}}, "id": "a3d8cbd0-d492-490e-a0f0-48addfe6c9f7", "name": "WhatsApp Leonardo", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [1000, 208], "onError": "continueRegularOutput"}], "connections": {"Webhook": {"main": [[{"node": "Assign Vendor", "type": "main", "index": 0}]]}, "Assign Vendor": {"main": [[{"node": "Person", "type": "main", "index": 0}, {"node": "map phone vendedor", "type": "main", "index": 0}]]}, "Person": {"main": [[{"node": "Deal", "type": "main", "index": 0}]]}, "Deal": {"main": [[{"node": "Slack", "type": "main", "index": 0}, {"node": "WhatsApp vendedor", "type": "main", "index": 0}]]}, "Slack": {"main": [[{"node": "Send SDR", "type": "main", "index": 0}, {"node": "WhatsApp Leonardo", "type": "main", "index": 0}]]}, "Send SDR": {"main": [[{"node": "Google Sheets", "type": "main", "index": 0}]]}, "map phone vendedor": {"main": [[{"node": "WhatsApp vendedor", "type": "main", "index": 0}]]}, "Google Sheets": {"main": [[]]}}}